{% extends 'base.html' %}
{% block title %} User Password Change {% endblock title %}

{% block content %}

<br>
<div align="center">
    <form action="#" method="POST">
        {% csrf_token %}
    
        <input type="password" id="password" name="password"
        placeholder="New Password"
        pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"
        required/> <br>
        <br>
        <input type="password" id="confirm_password" 
        name="confirm_password" placeholder="Confirm Password" 
        pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"
        required/> <br>
    
        {% if messages %}
            <div class="messages">
                {% for message in messages %}
                    <div {% if message.tags %} class="{{ message.tags }}" {% endif %}> {{ message }} </div>
                {% endfor %}
            </div>
        {% endif %}
    
        <button type="submit" class="btn btn-primary mt-2"> Save </button>
    </form>
    
</div>


{% endblock content %}