{% extends 'base.html' %}

{% block title %}  Login {% endblock%}

{% block content %}
<!-- Login starts   -->
      <div class="card_div">
      <div class="container">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <form action="{% url 'user-login' %}" method="POST">
            {% csrf_token %}
            <!-- Email input -->
            <div class="form-outline mb-3 mt-5">
              <input type="email" name="user_email" id="form2Example1" class="form-control"  placeholder="Email" />
              <label class="form-label" for="form2Example1"></label>
            </div>
          
            <!-- Password input -->
            <div class="form-outline mb-4">
              <input type="password" name="user_password" id="form2Example2" class="form-control" placeholder="Password" />
              <label class="form-label" for="form2Example2"></label>
            </div>
          
            <!-- 2 column grid layout for inline styling -->
            <div class="row mb-4">
            
          
              <div class="col">
                <!-- Simple link -->
                <a href="#!">Forgot password?</a>
              </div>
            </div>
          
            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>
          
            <!-- Register buttons -->
            <div class="text-center">
              <p>Not a member? <a href="{% url 'user-registration' %}">Register</a></p>

            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
<!-- login ends    -->
{% endblock %}
