{% extends 'base.html' %}
{% block title %} Reset Password{% endblock %}

{% block content %}


<div class="container d-flex justify-content-center pt-5">
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <lottie-player
      src="https://assets7.lottiefiles.com/packages/lf20_xf9ppc6p.json"
      background="transparent"
      speed="1"
      style="width: 430px; height: 430px"
      loop
      autoplay
      class="animate__animated animate__bounceInLeft animate__delay-1s animate__slower"
    ></lottie-player>
    <div
      class="card animate__animated animate__bounceInRight animate__slow"
      style="width: 25rem"
    >
      <div class="card-body" style="background-color: #e3f2fd">
        <form action="" method="POST">
            {% csrf_token %}
          <!-- password input -->
          {% for field in form %}
          <div class="form-outline mb-3 mt-5">
            {{ field.errors }}
            {{ field }}
            {% if field.help_text %}
            {{ field.help_text|safe }}
            {% endif %}
            <label class="form-label" for="form2Example1"></label>
          </div>
          {% endfor %}

          <!-- Submit button -->
          <button
           type="submit"
            class="btn btn-block mb-4"
            style="background-color: #80aaff"
          >
            Save
          </button>
        </form>
      </div>
    </div>
  </div>


{% endblock content%}