{% extends 'base.html' %}

{% block title %} {{ request.user.first_name|title }} Profile {% endblock title %}

{% block content %}


<!-- Profile Section start  -->

{% if messages %}
<div class="messages">
    {% for message in messages %}
    <div {% if message.tags %} class="{{ message.tags }}" {% endif %}> {{ message }} </div>
    {% endfor %}
</div>
{% endif %}

<section>
    <div class="container py-5">
        <div class="row">
            <div class="col"></div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="card mb-4" style="background-color: #e3f2fd">
                    <div class="card-body text-center">
                        <img src="{{ request.user.extenduser.picture.url }}" alt="avatar"
                            class="rounded-circle img-fluid" style="width: 150px" />
                        <h5 class="my-3"> {{ request.user.first_name|title }} </h5>

                        <!-- <button type="button" class="btn btn-outline-primary ms-1 mb-2">Order History</button><br> -->

                            <div class="d-flex justify-content-center mb-2">
                            </div>
                    </div>
                </div>
            </div>



            <div class="col-lg-8">
                <div class="card mb-4" style="background-color: #e3f2fd">
                    <div class="card-body">
                        
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Full Name</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">
                                        {{ request.user.first_name|title }} </p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Email</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0"> {{ request.user }} </p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Phone</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">
                                        {{request.user.extenduser.phone}} </p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3 ">
                                    <p class="mb-0">Address</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">
                                        {{ request.user.extenduser.address|title }} </p>
                                </div>
                            </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 col-lg-12">
                        <div class="card mb-4 mb-md-0" style="background-color: #e3f2fd">
                            <div class="card-body">
                                <a href="{% url 'user-order-list' %}" style="text-decoration:none"> <p class="mb-4"> >Order History </p> </a> 
                                <div class="progress rounded" style="height: 5px"> </div>

                                <section>
                                    <div class="container py-5">
                                        {% if orders %}
                                        {% for order in orders %}
                                        <div class="row justify-content-center mb-3">
                                            <div class="col-md-12 col-xl-10">
                                                <div class="card shadow-0 border rounded-3">
                                                    
                                                    <div class="card-body">
                                                        <div class="row">
                                                            <div class="col-md-12 col-lg-3 col-xl-3 mb-4 mb-lg-0">
                                                                <div
                                                                    class="bg-image hover-zoom ripple rounded ripple-surface">
                                                                    <img src="{{order.product.image1.url}}"
                                                                        class="w-100" />
                                                                    <a href="#!">
                                                                        <div class="hover-overlay">
                                                                            <div class="mask"
                                                                                style="background-color: rgba(253, 253, 253, 0.15);">
                                                                            </div>
                                                                        </div>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6 col-lg-6 col-xl-6">
                                                                <h5> {{order.product}} </h5>
                                                                <div class="d-flex flex-row"> </div>
                                                                <div class="mt-1 mb-0 text-muted small">
                                                                    <span class="text-primary"> • </span>
                                                                    <span>{{order.product.category}}</span>
                                                                    <span class="text-primary"> • </span>
                                                                    <span>{{order.product.brand_name|title}}</span>
                                                                    <span class="text-primary"> • </span>
                                                                    <span>Quantity: {{order.quantity}}</span>
                                                                </div>
                                                                <div class="mb-2 text-muted small">
                                                                    <span class="text-primary"> • </span>
                                                                    <span>Order Time: {{order.datatime}}</span>
                                                                </div>
                                                                <p class="text-truncate mb-4 mb-md-0">
                                                                    {{order.product.specification}}
                                                                </p>
                                                            </div>
                                                            <div
                                                                class="col-md-6 col-lg-3 col-xl-3 border-sm-start-none border-start">
                                                                <div class="d-flex flex-row align-items-center mb-4">
                                                                    <h4 class="mb-1 me-1">Tk {{order.sub_total_price}}</h4>
                                                                </div>
                                                                <h6 class="text-success"></h6>
                                                                <!-- <div class="d-flex flex-column mt-4">
                                                                    <button class="btn btn-primary btn-sm"
                                                                        type="button">Details</button>
                                                                </div> -->
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                        {% else %}
                                        <div class="d-flex flex-column mt-4">No Order </div>
                                        {% endif %}
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<a href="{% url 'update-user-profile' %}" style="text-decoration:none"> Update Profile </a> <br>



<!-- Profile Section end  -->

{% endblock content %}