{% extends 'base.html' %}

{% block title %} User Password Reset  {% endblock title %}


{% block content %}



<div class="container d-flex justify-content-center pt-5">
    
    <div
      class="card animate__animated animate__bounceInRight animate__slow"
      style="width: 40rem; height: 20rem"
    >
    Please Enter Your Account's E-mail Address to Reset the Password.
      <div
        class="card-body d-flex justify-content-center"
        style="background-color: #e3f2fd"
      >
        <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
        <lottie-player
          src="https://assets1.lottiefiles.com/packages/lf20_kdx6cani.json"
          background="transparent"
          speed="1"
          style="width: 300px; height: 300px"
          loop
          autoplay
          class="animate__animated animate__bounceInLeft animate__delay-1s animate__slower"
        ></lottie-player>
        <form action="{% url 'user-password-reset' %}" method="POST">
            {% csrf_token %}
          <!-- Email input -->
          <div class="form-outline mb-3 mt-5">
            {{ form.as_p }}
            <label class="form-label" for="form2Example1"></label>
          </div>

          <!-- Submit button -->
          <button
            type="submit"
            class="btn btn-block mb-4"
            style="background-color: #80aaff"
          >
            Send
          </button>
        </form>
      </div>
    </div>
  </div>


{% endblock %}


    
