{% extends 'base.html' %}

{% block title %} Home {% endblock%}


{% block content %}

{% if messages %}
  <div class="messages">
    {% for message in messages %}
      <div {% if message.tags %} class="{{ message.tags }}" {% endif %} > {{ message }} </div>
    {% endfor %}
  </div>
{% endif %}

<div class="container pt-2">
  <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      {% for HeadLineMessage in HeadLineMessages %}
        {% if HeadLineMessage.logo %}
      <div class="carousel-item active" data-bs-interval="10000">
        <img src="{{ HeadLineMessage.logo.url }}"
          class="d-block w-100" alt="..." style="height: 350px" />
      </div>
      {% endif %}
      {% endfor %}
      
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <marquee behavior="scroll" direction="left"> {{notice.announcement|title}} </marquee>
</div>


{% include 'productstemplate\categorys.html' %}

{% include 'productstemplate\productlist.html' %}


{% endblock %}