
  <div class="container mt-5">
    <div class="container d-flex">
      <div class="row justify-content-center">
        {% for product in products %}
        
        <div class="col-3 mb-3 me-5">
          <div class="card" style="width: 18rem">
            <a href="{% url 'product-detail' product.pk %}">
            <img
              src="{{ product.image1.url }}"
              class="card-img-top  animate__animated animate__pulse"
              alt="{{ product.image1 }}"
              width="100px" height="250px"
            />
            </a>
            <div class="card-body">
              <h5 class="card-text text-center animate__animated animate__headShake">
                <a href="{% url 'product-detail' product.pk %}" style="text-decoration: none;">
                    {{ product.product_name|title }}
                </a>
            </h5>
              <p class="card-text text-center">Tk {{ product.price }}</p>
              <form method="POST" action="{% url 'add-to-cart' %}">
                {% csrf_token %}
                <input class="input" type="hidden" name="productID" value="{{product.pk}}"/><br/>
                <button type="submit" style="border: none; background: none">
                  <i class="fas fa-cart-arrow-down animate__animated animate__flip"></i>
                </button>
            </form>
            </div>
          </div>
        </div>
        {% endfor product %}
      </div>
    </div>
  </div>