{% extends 'base.html' %}

{% block title %} Products {% endblock%}


{% block content %}

{% if products %}
    {% include 'productstemplate\productlist.html' %}
{% else %}
    About 0 results <br><br>

    <div class="h4">Your search - <strong>{{massage}}</strong> - did not match any documents.</div><br>

    <div class="h4">Suggestions:
        <ul>
            <li>• Make sure that all words are spelled correctly.</li>
            <li>• Try different keywords.</li>
            <li>• Try more general keywords.</li>
            <li>• Try fewer keywords.</li>
        </ul></div>

{% endif %}


{% endblock %}
