{% extends 'base.html' %}

{% block title %} Products {% endblock%}


{% block content %}

{% if products %}
    <div class="container">
        <nav class="navbar bg-light">
        <div class="container-fluid">
            <a class="navbar-brand d-flex"><b>Category</b></a>
            <div class="dropdown">
            <button
                class="btn btn-secondary dropdown-toggle"
                type="submit"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                aria-haspopup="true"
            >
                Sort By
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                {% for category in categorys %}
                <li><a class="dropdown-item" href="{% url 'category-name' category.slug %}">{{category.category_name|title }}</a></li> 
                {% endfor %}
            </ul>
            </div>
        </div>
        </nav>
    </div>

    {% include 'productstemplate\productlist.html' %}
    {% include 'productstemplate/paginagtion.html' %}
{% else %}
    About 0 results <br><br>

    <div class="h4">Your search - <strong>{{massage}}</strong> - did not match any documents.</div><br>

    <div class="h4">Suggestions:
        <ul>
            <li>• Make sure that all words are spelled correctly.</li>
            <li>• Try different keywords.</li>
            <li>• Try more general keywords.</li>
            <li>• Try fewer keywords.</li>
        </ul></div>

{% endif %}


{% endblock %}
