{% extends 'base.html' %}

{% block header %}
<link rel="icon" type="image/x-icon" href="{{ category.logo.url }}">
{% endblock header %}

{% block title %} {{ category.category_name|title }} {% endblock%}


{% block content %}

{% include 'productstemplate\productlist.html' with products=specificallproducts %}


<div class="pagination">
    <span class="step-links">
        {% if specificallproducts.has_previous %}
            <a href="?page=1">&laquo; First</a>
            <a href="?page={{ specificallproducts.previous_page_number }}">Previous</a>
        {% endif %}

        <span class="current">
            Page {{ specificallproducts.number }} of {{ specificallproducts.paginator.num_pages }}.
        </span>

        {% if specificallproducts.has_next %}
            <a href="?page={{ specificallproducts.next_page_number }}">Next</a>
            <a href="?page={{ specificallproducts.paginator.num_pages }}">Last &raquo;</a>
        {% endif %}
    </span>
</div>


{% endblock %}