{% extends 'base.html' %}

{% block header %}
<link rel="icon" type="image/x-icon" href="{{ category.logo.url }}">
{% endblock header %}

{% block title %} {{ category.category_name|title }} {% endblock%}


{% block content %}

<div class="container">
    <nav class="navbar bg-light">
      <div class="container-fluid">
        <a class="navbar-brand d-flex"><b>{{ category.category_name|title }}</b></a>
        <div class="dropdown">
          <button
            class="btn btn-secondary dropdown-toggle"
            type="submit"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            aria-haspopup="true"
          >
            Sort By Brand Name
          </button>
          
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            {% for brand in brands %}
            <li><a class="dropdown-item" href="{% url 'category-brand' category.slug brand.brand_name %}">{{brand}}</a></li> 
            {% endfor %}
          </ul>
        </div>
      </div>
    </nav>
</div>

{% if products %}
    {% include 'productstemplate\productlist.html' with products=products %}
{% else %}
    <div clas="h2"> No products available in this category</h1>
{% endif %}

{% include 'productstemplate/paginagtion.html' %}

{% endblock content %}